<div class="card text-center position-absolute bottom-0 w-100">
        <div class="card-header">
         Footer
        </div>
        <div class="card-body">
          <h5 class="card-title">The footer of the Node event</h5>
          <p class="card-text">This is a training project to use http requests with nodejd mongoDB</p>
        </div>
        <div class="card-footer text-body-secondary">
         Mahdi Ben Ahmed
        </div>
      </div>
      <script src="../../js/custom.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/jquery/dist/jquery.js"></script>
</body>
</html>